body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar{
    background-color: #F54927;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 15px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
}
/* homepage styling */
.card-homepage{
    background-color: #ffff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(254, 235, 231);
    padding: 40px;
    margin: 30px auto;
    width: 95%;
    max-width: 700px;
    text-align: center;
    transition:transform 0.3s ease;
}
.card-homepage header h1{
    color: #2c3e50;
    font-size: 2.2em;
    margin-bottom: 20px;
    text-align: center;
}
.card-homepage p {
    color: #2c3e50;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
}
.feature {
    padding-top: 20px;
    border-top: 1px solid #ecf0f1;
    margin-top: 20px;
}
canvas{
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #ecf0f1;
}

